Frontend/hardware_esp/nitj_wifi_get/build/esp8266.esp8266.generic/sketch_feb26a.ino.map
Frontend/hardware_esp/nitj_wifi_get/build/esp8266.esp8266.generic/sketch_feb26a.ino.bin
Frontend/hardware_esp/nitj_wifi_get/build/esp8266.esp8266.generic/sketch_feb26a.ino.elf
